.leading-relaxed  {

max-width: 70%; /* Ajusta el porcentaje según tus necesidades */
margin: auto; /* Centra el párrafo horizontalmente */
}
.relative  {
    margin: 2%; /* Centra el párrafo horizontalmente */
 
}

    