.header-container {
    background-color: black;
    align-items: auto;
    overflow: hidden;
   
    
}
.App-link {
    background-color: black;
    margin-top: -180px;
    text-align: center;
    align-items: center;
    color: rgb(165, 27, 210);
    text-shadow: 2px 2px 5px #eb06d1;
    
        }
        
    
        
    